<!-- public/searchAndButtons.html -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search and Buttons</title>
  </head>
  <body>
    <style>
      .button {
        font-family: 'Trebuchet MS';
        font-size: 20px;
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .button:hover {
        background-color: #84abb8;
      }
      .volver-button {
        font-family: 'Trebuchet MS';
        font-size: 20px;
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .volver-button:hover {
        background-color: #64a364;
      }
    </style>
    <h1 style="font-family: 'Trebuchet MS'; font-weight: bold; font-size: 24px; width: 300px; height: 40px">Consultas de Búsqueda</h1>
    <!-- Search bar -->
    <label
      for="searchBar"
      style="font-family: 'Trebuchet MS'; font-weight: bold; font-size: 18px; width: 250px; height: 20px"
      >Búsqueda:</label
    >
    <input
      type="text"
      id="searchBar"
      placeholder="Ingrese un término de búsqueda"
      style="font-family: 'Trebuchet MS'; font-size: 15px; width: 250px; height: 20px"
    /><br /><br />

    <!-- Search button -->
    <button class="button" onclick="verArteEncargado()">Grupo a Cargo (Escenario)</button>
    <button class="button" onclick="verReporter()">Quien Reporto</button>
    <button class="button" onclick="verAnimadoresEncargados()">Grupo a Cargo (Animacion)</button>
    <button class="button" onclick="verMiembrosDesigners()">Miembros de Grupo (Designers)</button>
    <button class="button" onclick="verBugsReportados()">Bugs Reportados (Tester)</button>
    <button class="button" onclick="verPromedioResolucion()">Promedio de Resolucion</button>
    <button class="button" onclick="empleadosDeGrupo()">Miembros del Grupo</button>
    <button class="button" onclick="verBugsFeatEsc()">Ver Bugs</button>
    <button class="button" onclick="verEscCompl()">Escenarios a Cargo (Devs/Dsgs)</button>
    <button class="button" onclick="verPromedioFinalizacion()">Promedio de Finalizacion</button>
    <button class="button" onclick="verLineasDeVoz()">Lineas de Voz (PJ)</button>
    <button class="button" onclick="verAnimAsset()">Animaciones (Asset)</button>
    <button class="button" onclick="trabajosDe()">Trabajos (Empleado)</button>
    <button class="button" onclick="SASdeEscenario()">Arte (Escenario)</button>
    <button class="button" onclick="verEquipDeSede()">Equipamiento (Sede)</button>
    <button class="button" onclick="verEquipDeEmpleado()">Equipamiento (Empleado)</button>
    <button class="button" onclick="actorDeVozDe()">Actor (LdV)</button>
    <button class="button" onclick="bugsAsignadosA()">Bugs a Cargo (GDevs)</button>
    <button class="button" onclick="verTrabajadoresDeFeature()">Participantes (Feature)</button>
    <button class="button" onclick="verTrabajadoresDeEscenario()">Participantes (Escenario)</button>
   
    <h1 style="font-family: 'Trebuchet MS'; font-weight: bold; font-size: 24px; width: 300px; height: 40px">Consultas Específicas</h2>
   
    <button class="button" onclick="verOcupacionEmpleados()">
      Empleados con sus Ocupaciones</button
    ><br />
    <h1 style="font-family: 'Trebuchet MS'; font-weight: bold; font-size: 24px; width: 300px; height: 40px">Tablas Completas</h1>
    <button class="button" onclick="location.href='/tables/showBugTable'">
      Bugs
    </button>
    <button class="button" onclick="location.href='/tables/showSedeTable'">
      Sedes
    </button>
    <button class="button" onclick="location.href='/tables/showDevTable'">
      Developers
    </button>
    <button class="button" onclick="location.href='/tables/showDesTable'">
      Designers
    </button>
    <button class="button" onclick="location.href='/tables/showTestTable'">
      Testers
    </button>
    <button class="button" onclick="location.href='/tables/showArtTable'">
      Artistas
    </button>
    <button class="button" onclick="location.href='/tables/showGrTable'">
      Grupos
    </button>
    <button
      class="button"
      onclick="location.href='/tables/showEquipTable'"
    >
      Equipamiento
    </button>
    <button class="button" onclick="location.href='/tables/showAssetTable'">
      Assets</button
    ><br />
    <button class="button" onclick="location.href='/tables/showFeatTable'">
      Features
    </button>
    <button class="button" onclick="location.href='/tables/showPjTable'">
      Personajes
    </button>
    <button class="button" onclick="location.href='/tables/showSmsTable'">
      SFX/Musica/Sprites
    </button>
    <button class="button" onclick="location.href='/tables/showAnimTable'">
      Animaciones
    </button>
    <button class="button" onclick="location.href='/tables/showVlTable'">
      Lineas de Voz</button
    >
    <button class="button" onclick="location.href='/tables/showLinkTable'">
      Escenario-Arte
    </button><br /><br />
    <button class="volver-button" onclick="location.href='/'">Volver</button>

    <!-- Result area -->
    <div id="resultArea"></div>

    <script>
      function verArteEncargado() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value,
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verArteEncargado?nombreEsc=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableAE(data))
          .catch((error) => console.error("Error:", error));
      }

      function verAnimadoresEncargados() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value,
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verAnimadoresEncargados?nombreEsc=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableAE(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableAE(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultados</h2><table border="1">';
        tableHtml += "<tr><th>Grupo</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr><td>${row.grupo}</td></tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verReporter() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verReporter?titulo=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableR(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableR(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>Usuario</th><th>Nombre</th><th>Apellido</th></tr>";

        // Iterate through the data and add a single row for each record
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.user}</td>`;
          tableHtml += `<td>${row.nombre_empleado}</td>`;
          tableHtml += `<td>${row.apellido_empleado}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verBugsReportados() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verBugsReportados?username=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableB(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableB(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Bugs Reporados</h2><table border="1">';
        tableHtml += "<th>ID</th><th>Title</th><th>Description</th><th>Priority</th><th>Evidence File</th><th>Report Date</th><th>Fecha de Solucion</th><th>Feature ID</th><th>Scenario ID</th>";

        // Iterate through the data and add a single row for each record
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.id_bug}</td>`;
          tableHtml += `<td>${row.titulo_bug}</td>`;
          tableHtml += `<td>${row.desc_bug}</td>`;
          tableHtml += `<td>${row.prioridad}</td>`;
          tableHtml += `<td>${row.archivo_evidencia}</td>`;
          tableHtml += `<td>${row.fecha_reporte}</td>`;
          tableHtml += `<td>${row.fecha_solucion}</td>`;
          tableHtml += `<td>${row.id_feature}</td>`;
          tableHtml += `<td>${row.id_escenario}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verBugsFeatEsc() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verBugsFeatEsc?id_fe=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableBE(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableBE(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Bugs Reporados</h2><table border="1">';
        tableHtml += "<th>ID</th><th>Title</th>";

        // Iterate through the data and add a single row for each record
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.id_bug}</td>`;
          tableHtml += `<td>${row.titulo_bug}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verOcupacionEmpleados() {
  // Make the request to the stored procedure
        fetch(`/queries/verOcupacionEmpleados`)
          .then((response) => response.json())
          .then((data) => displayTableOE(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableOE(data) {
        // Display the result in a table
        let tableHtml = '<h2>Resultados</h2><table border="1">';
        tableHtml += "<tr><th>Usuario</th><th>Nombre</th><th>Apellido</th><th>Ocupacion</th><th>Grupo</th></tr>";

        // Iterate through the data and add a single row for each record
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.user}</td>`;
          tableHtml += `<td>${row.nombre_empleado}</td>`;
          tableHtml += `<td>${row.apellido_empleado}</td>`;
          tableHtml += `<td>${row.ocupacion}</td>`;
          tableHtml += `<td>${row.grupo}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verPromedioResolucion() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verPromedioResolucion?nombreGrDev=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTablePR(data))
          .catch((error) => console.error("Error:", error));
      }

      function verPromedioFinalizacion() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verPromedioFinalizacion?nombreGrDev=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTablePF(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTablePR(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>Promedio</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr><td>${row.promedioResDias}</td></tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }

      function displayTablePF(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>Promedio</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr><td>${row.promedioFinDias}</td></tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function empleadosDeGrupo() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/empleadosDeGrupo?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableEG(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableEG(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>Nombre</th><th>Apellido</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.NOMBRE}</td>`;
          tableHtml += `<td>${row.APELLIDO}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verEscCompl() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verEscCompl?grupo_fe=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableEC(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableEC(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>ID</th><th>Nombre</th><th>Solucionado</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.id_escenario}</td>`;
          tableHtml += `<td>${row.nombre_escenario}</td>`;
          tableHtml += `<td>${row.estado}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verLineasDeVoz() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verLineasDeVoz?id_pj=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableLV(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableLV(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>ID</th><th>Texto Español</th><th>Texto Ingles</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.id_arte}</td>`;
          tableHtml += `<td>${row.txt_sp}</td>`;
          tableHtml += `<td>${row.txt_eng}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function verAnimAsset() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verAnimAsset?id_asset=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableAA(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableAA(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>ID</th><th>Nombre</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.id_arte}</td>`;
          tableHtml += `<td>${row.nombre_arte}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function trabajosDe() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/trabajosDe?usuario=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableT(data))
          .catch((error) => console.error("Error:", error));
      }

      function SASdeEscenario() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/SASdeEscenario?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableT(data))
          .catch((error) => console.error("Error:", error));
      }

      function verEquipDeSede() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verEquipDeSede?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableT(data))
          .catch((error) => console.error("Error:", error));
      }

      function verEquipDeEmpleado() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verEquipDeEmpleado?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableT(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableT(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>ID</th><th>Nombre</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.ID}</td>`;
          tableHtml += `<td>${row.NOMBRE}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function actorDeVozDe() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/actorDeVozDe?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableAV(data))
          .catch((error) => console.error("Error:", error));
      }

      function verTrabajadoresDeFeature() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verTrabajadoresDeFeature?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableAV(data))
          .catch((error) => console.error("Error:", error));
      }

      function verTrabajadoresDeEscenario() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/verTrabajadoresDeEscenario?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableAV(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableAV(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>Nombre</th><th>Apellido</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.NOMBRE}</td>`;
          tableHtml += `<td>${row.APELLIDO}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }


      function bugsAsignadosA() {
        const searchTerm = encodeURIComponent(
          document.getElementById("searchBar").value
        );

        // Make the request with the encoded parameter
        fetch(`/queries/bugsAsignadosA?nombre=${searchTerm}`)
          .then((response) => response.json())
          .then((data) => displayTableBA(data))
          .catch((error) => console.error("Error:", error));
      }

      function displayTableBA(data) {
        console.log("Data received:", data);

        // Display the result in a table
        let tableHtml = '<h2>Resultado</h2><table border="1">';
        tableHtml += "<tr><th>ID</th><th>Titulo</th></tr>";

        // Iterate through the data and add rows to the table
        data.forEach((row) => {
          tableHtml += `<tr>`;
          tableHtml += `<td>${row.ID}</td>`;
          tableHtml += `<td>${row.TITULO}</td>`;
          tableHtml += `</tr>`;
        });

        tableHtml += "</table>";

        // Display the table in a designated area on your page
        document.getElementById("resultArea").innerHTML = tableHtml;
      }
    </script>
  </body>
</html>
