<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter ANIMACION ID</title>
  </head>
  <body>
    <body style="font-family: 'Trebuchet MS'"></body>
    <h2>Enter ANIMACION ID</h2>
    <form action="/updates/enterAnimID" method="post">
      <label for="id_anim">ANIMACION ID:</label>
      <input type="text" name="id_anim" required /><br />
      <button type="submit">Enter</button>
    </form>
  </body>
</html>
