<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link EQUIPAMIENTO to EMPLEADO</title>
  </head>
  <body>
    <body style="font-family: 'Trebuchet MS'"></body>
    <h2>Insert Data to Link</h2>
    <form action="/queries/linkEE" method="post">
      <label for="id_equip">ID Equipamiento:</label>
      <input type="text" name="id_equip" required /><br />

      <label for="usuario">Usuario:</label>
      <input type="text" name="usuario" required /><br />

      <button type="submit">Insert Data</button>
    </form>
    <br />
    <button onclick="location.href='/admin'">Back</button>
  </body>
</html>
