<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Grupo de Artistas</title>
</head>
<body>
    <h2>Insertar Grupo de Artistas</h2>
    <form action="/inserts/insertGrupoArtista" method="post">
        <label for="nombre">Nombre del Grupo:</label>
        <input type="text" id="nombre" name="nombre" required>
        <button type="submit">Insertar Grupo de Artistas</button>
    </form>
</body>
</html>
