<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert SFX/MUSICA/SPRITE Form</title>
  </head>
  <body>
    <body style="font-family: 'Trebuchet MS'"></body>
    <h2>Insert Data into SFX/MUSICA/SPRITE Table</h2>
    <form action="/inserts/insertSms" method="post">
      <label for="id">ID:</label>
      <input type="text" name="id" required /><br />

      <label for="nombre">Name:</label>
      <input type="text" name="nombre" required /><br />

      <label for="tipo">Type:</label>
      <input type="text" name="tipo" list="tipos" required /><br />
      <datalist id="tipos">
        <option>Sprite</option>
        <option>Musica</option>
        <option>SFX</option>
      </datalist>

      <label for="direccion">Address:</label>
      <input type="text" name="direccion" required /><br />

      <label for="grupo">Group:</label>
      <input type="text" name="grupo" required /><br />

      <button type="submit">Insert Data</button>
    </form>
    <br />
    <button onclick="location.href='/tables/showSmsTable'">
      Back to SFX/MUSICA/SPRITE Table
    </button>
  </body>
</html>
