<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert LINEA_VOZ Form</title>
  </head>
  <body>
    <body style="font-family: 'Trebuchet MS'"></body>
    <h2>Insert Data into LINEA_VOZ Table</h2>
    <form action="/inserts/insertVl" method="post">
      <label for="id">ID:</label>
      <input type="text" name="id" required /><br />

      <label for="nombre">Name:</label>
      <input type="text" name="nombre" required /><br />

      <label for="direccion">Address:</label>
      <input type="text" name="direccion" required /><br />

      <label for="idPersonaje">Personaje ID:</label>
      <input type="text" name="idPersonaje" required /><br />

      <label for="grupo">Group:</label>
      <input type="text" name="grupo" required /><br />

      <label for="actorUser">Voice Actor User:</label>
      <input type="text" name="actorUser" required /><br />

      <label for="lineaEsp">Spanish Text:</label>
      <textarea name="lineaEsp" rows="2" required></textarea><br />

      <label for="lineaEng">English Text:</label>
      <textarea name="lineaEng" rows="2" required></textarea><br />

      <button type="submit">Insert Data</button>
    </form>
    <br />
    <button onclick="location.href='/tables/showVlTable'">
      Back to LINEA_VOZ Table
    </button>
  </body>
</html>
